h3 {
	text-align: center;
}

#medWord {
	color: blue;
}

#effectWord {
	color: red;
}

#smOutcome {
	display: none;
}

#msOutcome {
	display: none;
}

#mwOutcome {
	display: none;
}

#case {
	display: none;
}

span.medicine { color:blue;font-weight:bold}

span.effect { color:red;font-weight:bold}